@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --font-sans: 'Inter', 'PingFang TC', 'Noto Sans TC', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Microsoft YaHei', 'Microsoft JhengHei', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  --radius: 1rem;
  --background: oklch(0.9850 0 0);
  --foreground: oklch(0.2913 0 0);
  --card: oklch(0.9950 0 0);
  --card-foreground: oklch(0.3335 0 0);
  --popover: oklch(0.9900 0 0);
  --popover-foreground: oklch(0.1700 0 0);
  --primary: oklch(0.6606 0.0913 90.0993);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.8376 0.0438 89.3724);
  --secondary-foreground: oklch(0.2134 0 0);
  --muted: oklch(0.9551 0 0);
  --muted-foreground: oklch(0.5032 0 0);
  --accent: oklch(0.9400 0 0);
  --accent-foreground: oklch(0.2134 0 0);
  --destructive: oklch(0.5397 0.1654 33.2066);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9000 0 0);
  --input: oklch(0.9750 0 0);
  --input-autofill-bg: transparent;
  --ring: oklch(0.6606 0.0913 90.0993);
  --chart-1: oklch(0.3625 0.0677 87.1033);
  --chart-2: oklch(0.6606 0.0913 90.0993);
  --chart-3: oklch(0.7964 0.0965 89.5799);
  --chart-4: oklch(0.9429 0.0748 90.7191);
  --chart-5: oklch(0.9041 0.0265 90.1087);
  --sidebar: oklch(1.0000 0 0);
  --sidebar-foreground: oklch(0.2645 0 0);
  --sidebar-primary: oklch(0.3250 0 0);
  --sidebar-primary-foreground: oklch(0.9881 0 0);
  --sidebar-accent: oklch(0.9200 0 0);
  --sidebar-accent-foreground: oklch(0.3250 0 0);
  --sidebar-border: oklch(0.4605 0.0052 17.3451);
  --sidebar-ring: oklch(0.7731 0 0);
  --toast-normal-bg: oklch(0.9718 0 0 / 80%);
  --toast-normal-text: oklch(0.322 0 0);
  --toast-normal-border: oklch(0.8887 0 0);
  --toast-success-bg: oklch(0.5178 0.1389 141.88 / 80%);
  --toast-success-text: oklch(0.9971 0.0099 147.18);
  --toast-success-border: oklch(0.5178 0.1389 141.88);
  --toast-warning-bg: oklch(0.592 0.2092 100.95 / 80%);
  --toast-warning-text: oklch(0.9971 0.0123 103.76);
  --toast-warning-border: oklch(0.6454 0.2092 100.95);
  --toast-error-bg: oklch(0.4703 0.1825 25.41 / 80%);
  --toast-error-text: oklch(0.9794 0.0025 25.41);
  --toast-error-border: oklch(0.4703 0.1825 25.41);
  --toast-info-bg: oklch(0.4763 0.1036 239.29 / 80%);
  --toast-info-text: oklch(0.9882 0.0074 239.29);
  --toast-info-border: oklch(0.4763 0.1036 239.29);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-toast-normal-bg: var(--toast-normal-bg);
  --color-toast-normal-text: var(--toast-normal-text);
  --color-toast-normal-border: var(--toast-normal-border);
  --color-toast-success-bg: var(--toast-success-bg);
  --color-toast-success-text: var(--toast-success-text);
  --color-toast-success-border: var(--toast-success-border);
  --color-toast-warning-bg: var(--toast-warning-bg);
  --color-toast-warning-text: var(--toast-warning-text);
  --color-toast-warning-border: var(--toast-warning-border);
  --color-toast-error-bg: var(--toast-error-bg);
  --color-toast-error-text: var(--toast-error-text);
  --color-toast-error-border: var(--toast-error-border);
  --color-toast-info-bg: var(--toast-info-bg);
  --color-toast-info-text: var(--toast-info-text);
  --color-toast-info-border: var(--toast-info-border);
}

.dark {
  --background: oklch(0.1800 0 0);
  --foreground: oklch(1.0000 0 0);
  --card: oklch(0.1650 0 0);
  --card-foreground: oklch(1.0000 0 0);
  --popover: oklch(0.1950 0 0);
  --popover-foreground: oklch(1.0000 0 0);
  --primary: oklch(0.7701 0.0891 94.8481);
  --primary-foreground: oklch(0.1500 0 0);
  --secondary: oklch(0.4701 0.0874 92.6505);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.2350 0 0);
  --muted-foreground: oklch(0.8328 0 0);
  --accent: oklch(0.2750 0 0);
  --accent-foreground: oklch(0.9551 0 0);
  --destructive: oklch(0.6173 0.1702 33.0862);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.2750 0 0);
  --input: oklch(0.2000 0 0);
  --ring: oklch(0.8002 0.1014 94.1077);
  --chart-1: oklch(0.9515 0.0272 93.1060);
  --chart-2: oklch(0.8163 0.0537 94.1600);
  --chart-3: oklch(0.8002 0.1014 94.1077);
  --chart-4: oklch(0.6136 0.1177 91.6558);
  --chart-5: oklch(0.3642 0.0744 90.7342);
  --sidebar: oklch(0.2134 0 0);
  --sidebar-foreground: oklch(0.9674 0.0013 286.3752);
  --sidebar-primary: oklch(0.8002 0.1014 94.1077);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.2750 0 0);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.2648 0.0095 88.7746);
  --sidebar-ring: oklch(0.9006 0 0);
  --toast-normal-bg: oklch(0.8323 0 0 / 80%);
  --toast-normal-text: oklch(0.2626 0 0);
  --toast-normal-border: oklch(0.7196 0 0);
  --toast-success-bg: oklch(0.5415 0.1279 141.88 / 80%);
  --toast-success-text: oklch(0.9971 0.0099 147.18);
  --toast-success-border: oklch(0.3882 0.0641 141.88);
  --toast-warning-bg: oklch(0.6602 0.2838 100.95 / 80%);
  --toast-warning-text: oklch(0.9971 0.0123 103.76);
  --toast-warning-border: oklch(0.5618 0.1307 100.95);
  --toast-error-bg: oklch(0.5445 0.1718 25.41 / 80%);
  --toast-error-text: oklch(0.9794 0.0025 25.41);
  --toast-error-border: oklch(0.5445 0.1718 25.41);
  --toast-info-bg: oklch(0.497 0.1036 239.29 / 80%);
  --toast-info-text: oklch(0.9882 0.0074 239.29);
  --toast-info-border: oklch(0.497 0.1036 239.29);
}

.user-select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    @apply selection:bg-primary selection:text-primary-foreground;
  }
}

@layer components {
  .ripple {
    @apply absolute rounded-full pointer-events-none;
    transform: scale(0);
    animation: ripple-animation 0.5s ease-in-out;
  }
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}